#randomNumber {
	height: 170px;
}

h1 {
	color: white;
	text-align: center;
}
p {
	color: white;

}

#random {
	background-color: black;
	color: white
}
#score {
	background-color: black;
	color: white;
}

#rules {
	background-color: black;
}

#totalScore {
	background-color: black;
	text-decoration: bold;
	height: 130px;
	color: white;
}

#currentScore {
	text-align: center;
}

.btn {
      width: 80px;
      height: 80px;
	}

#buttonGroup {
	border: solid;	
	display: flex;
	padding-left: 25px;
}

body {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWQgNrRkuTBBuv9AGN1iHes1FobwL7Jx84v4eT1kCyGLklbjhZXQ");
}    